<%= link_to 'All Users', users_path %>
<%= link_to 'Create New Event', new_event_path %>
<%= button_to "Logout", destroy_user_session_path, method: :delete %>

<div>
  <h1>Upcoming Events:</h1>
  <% @events.future.each do |event| %>
    <h3><%= event.title %></h3>
    <h3>Date: <%= event.date %></h3>
    <h3>Location: <%= event.location %></h3>
    <h3>Description: <%= event.description %></h3>
    <h3><%= link_to 'Event page', event_path(event) %></h3><br><br>
  <% end %>
</div>

<div>
  <h1>Past Events:</h1>
  <% @events.past.each do |event| %>
    <h3><%= event.title %></h3>
    <h3>Date: <%= event.date %></h3>
    <h3>Location: <%= event.location %></h3>
    <h3>Description: <%= event.description %></h3>
    <h3><%= link_to 'Event page', event_path(event) %></h3><br><br>
  <% end %>
</div>