<div>
  <h3>Upcoming Events:</h3>
  <% @events.future.each do |event| %>
    <%= event.title %>
    <%= event.date %>
    <%= event.location %>
    <%= event.description %>
    <%= link_to 'Event page', event_path(event) %>
  <% end %>
</div>

<div>
  <h3>Past Events:</h3>
  <% @events.past.each do |event| %>
    <%= event.title %>
    <%= event.date %>
    <%= event.location %>
    <%= event.description %>
    <%= link_to 'Event page', event_path(event) %>
  <% end %>
</div>