<h1>Event: <%= @event.title %></h1><br><br>

<h3>Date: <%= @event.date %></h3><br>
<h3>Location: <%= @event.location %></h3><br>
<h3>Description:<%= @event.description %></h3><br><br>

<h3>This event is hosted by: <%= @event.creator %></h3>